@charset "ISO-8859-1";

* {
	/* border: 1px solid black; */
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	background: black;
}

.access-control {
	position: absolute;
	top: 10px;
	right: 20px;
	color: white;
}
